@page
@model WebApp.Pages_LoadSaveData.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameSaveData[0].GameSaveDataId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameSaveData[0].TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameSaveData[0].SaveName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameSaveData) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.GameSaveDataId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaveName)
            </td>
            <td>
                <a asp-page="/GamePlay/Index" asp-route-loadId="@item.GameSaveDataId">Load</a>
            </td>
        </tr>
}
    </tbody>
</table>
