@page
@model WebApp.Pages_GameOptions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].BoardWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].BoardHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].BoatLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].CanBoatsTouch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].MoveOnHit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].GameSaveDataId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameOption) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoardWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoatLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanBoatsTouch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoveOnHit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameSaveDataId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameOptionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameOptionId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
